# Data
data/

# Models
models/
*.pt
*.pth
*.h5

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Generated reports
reports/*.geojson
reports/*.html